__pycache__/
*.egg-info/
\.idea/
\.ipynb_checkpoints/
\.vscode
build/
dist/
env/
docs/
tests/
etc/
\.DS_Store
/**/*.pyc
/**/*.parquet
/revenewCC/inputdata/QEP2019_invoice.csv
/**/.eggs/
/**/log.txt
/**/*.lnk