__pycache__/
*.egg-info/
\.idea/
\.ipynb_checkpoints/
\.vscode
build/
dist/
venv/
docs/
tests/
\.DS_Store
/**/*.pyc
/**/*.parquet
/**/*.txt
/**/*.xlsx
/revenewCC/inputdata/TestMissingColumns.csv
/revenewCC/inputdata/QEP2019_invoice.csv
