include config.ini
include LICENSE
include revenewML.db
include gooey_config.json
include revenewCC/inputdata/*.csv
include gooey/images/*.png
include gooey/languages/*.json
include gooey/tests/*.json