include LICENSE
include revenewCC/inputdata/*.csv
include revenewCC/inputdata/*.pkl
include gooey/images/*.png
include gooey/images/*.ico
include gooey/images/*.jpg
include gooey/images/*.gif
include gooey/languages/*.json
include gooey/tests/*.json